page-home {
    ion-content{
        background-color: red !important;
        ion-item{
            background: transparent !important;
        }

        ion-input{
            background: black !important;
            color: white;
        }
        
    ion-label{
        white-space: pre-line !important;
        border: 1px solid black;
        color: white;
    }
}
}
