alert-view {
    section{
        background: url(../assets/imgs/popup-bg.png);
        background-repeat: no-repeat;
        margin: auto;
        background-size: 100% 100%;
        padding: 22px;
        height: auto;
        position: relative;
        max-width: 388px;

        .alertText{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 68px;
            p{
                color: white;
            }
        }
        .btn{
            background: url(../assets/imgs/popup-button-bg.png);
            background-size: contain;
            background-repeat: no-repeat;
            bottom: 32px;
            right: 16%;
            position: absolute;
            width: 64%;
            padding: 6px;
            height: 34px;
            background-size: 100% 100%;
            color: white;
    }
}
}
